<!-- Div to show image the new narrative is being written about -->
<div class='narrimage'>
   <img src='<%= @imageURL %>'>
</div>

<div class="newnarrative">
   <%= render "add_narrative" %>
</div>

