<!-- Div to show image the new narrative is being written about -->
<div class='row'>
  <div class='row'>
    <div class='large-6 large-offset-3 columns'>
     <h2>Write a story for this image</h2>
    </div>
  </div>

  <div class='row'>
    <div class='large-4 large-offset-4 columns'>
     <img src='<%= @imageURL %>'>
    </div>
  </div>
</div>

<%= render "add_narrative" %>


