<!-- <h1 align='center'> New Narrative Page </h1> -->


<%= render "add_narrative" %>

<!-- Div to show image the new narrative is being written about -->
<div class='bo'>
<img src='<%= params[:imgUrl] %>'>
</div>

