<h1 align='center'>Select a Storyteller</h1>
<div class='storytellerlist'>
   <div class='writerList'>
     <!-- Display a list of writers with button to view all works by that author-->
      <% @writers.each do |writer| %>
         <input type="button" class="specWriterButton" value="<%= writer.name %>" id="<%= writer.id %>">
      <% end %>
   </div> <!--class writerList-->

   <div class='ajaxResults'>
      <div id='listTitle'></div>
      <div class ="specWriterStories" id='listStories'></div> <!--class specWriterStories-->
   </div> <!-- class ajax results -->
</div>

