// Place all the styles related to the narratives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


form {
  width:50%;
  margin-right:auto;
  margin-left:auto;
  font-size: 36px;
  float: left;
  padding-left: 10%;
  padding-top: 3%;
}

.bo {
  width: 40%;
  float: right;
  padding-top: 12%;
}