// Place all the styles related to the narratives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*form {
  width:50%;
  font-size: 36px;
  padding-left: 10%;
  padding-top: 5%;
}*/

.narrimage {
  width: 50%;
  margin-right:auto;
  margin-left:auto;
  float: top;
  padding-top: 5%;
}

.newnarrative {
  margin-right:auto;
  margin-left:auto;
  float: bottom;
}