// Place all the styles related to the writers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.storytellerlist div {
  display: inline-block
}

.writerList {
  width: 90%;
  float: top;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2%

}

.ajaxResults {
  width: 100%;
  float: bottom;
  display: inline-block
}
.specWriterStories {
  width: 50%;
  border-radius: 15px;
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 50px;
  padding-bottom: 10px


}
 #listStories {
  width: 100%;
display: inline-block
 }

#listTitle {
/*margin-bottom: 30px*/
width:100%
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 30px;
}


.specWriterButton {
  width: 16%;
  padding: 5px;
  font: bold ;
  border: 2px solid #333;
  border-radius: 5px;
  background: #7f8c8d;
  cursor: pointer;
  font-size: 18px

}
.momo {
  float: none;
  width: 30%
}