
<h1 align='center'> Summary of Narratives for Selected Image</h1>


  <div id="examples">
    <% @foo.each do |f| %>

        title: <strong><%= f[:title] %></strong><br>
        <%= f[:story] %><br>
        by: <em><%= f[:name] %></em><br>

    <% end %>

  </div>
</div>
